---
import { Image } from '@astrojs/image/components';
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';

import cosi from '@assets/cosi.webp';
import granville from '@assets/granville.webp';
import katzingers from '@assets/katzingers.webp';
import northMarket from '@assets/north-market.webp';
import shortNorth from '@assets/short-north.webp';
import theBookLoft from '@assets/the-book-loft.webp';
---

<Layout page="Things to Do">
  <div class="max-w-2xl px-5 pb-12 mx-auto space-y-3 text-center">
    <div class="px-5 pt-1 text-center">
      <h2
        class="my-7 text-2xl font-bold uppercase leading-normal tracking-lg sm:text-3.5xl"
      >
        Short North
      </h2>
      <Image src={shortNorth} aspectRatio="4:3" alt="" />
      <div class="my-4 space-y-2 leading-none tracking-sm sm:text-xl">
        <a href="https://goo.gl/maps/usDtLNoHyZVnHwqk6" target="_blank">
          N. High Street, Columbus, OH
        </a>
      </div>
      <p class="my-5 leading-7 tracking-wide opacity-90">
        This arts district neighborhood in Columbus has lots of galleries,
        shops, bars, and restaurants to check out!
      </p>
      <div class="flex justify-center">
        <Button href="https://shortnorth.org">Website</Button>
      </div>
    </div>

    <div class="px-5 pt-1 text-center">
      <h2
        class="my-7 text-2xl font-bold uppercase leading-normal tracking-lg sm:text-3.5xl"
      >
        The Book Loft
      </h2>
      <Image src={theBookLoft} aspectRatio="4:3" alt="" />
      <div class="my-4 space-y-2 leading-none tracking-sm sm:text-xl">
        <a href="https://goo.gl/maps/wcm2jPhsVKWBj24x8" target="_blank">
          631 S 3rd St, Columbus, OH
        </a>
      </div>
      <p class="my-5 leading-7 tracking-wide opacity-90">
        The Book Loft is a large, independent bookstore. Grab a coffee from
        Stauf's coffee shop next door and explore over thirty rooms of books!
      </p>
      <div class="flex justify-center">
        <Button href="https://www.bookloft.com">Website</Button>
      </div>
    </div>

    <div class="px-5 pt-1 text-center">
      <h2
        class="my-7 text-2xl font-bold uppercase leading-normal tracking-lg sm:text-3.5xl"
      >
        Katzinger's Delicatessen
      </h2>
      <Image src={katzingers} aspectRatio="4:3" alt="" />
      <div class="my-4 space-y-2 leading-none tracking-sm sm:text-xl">
        <a href="https://goo.gl/maps/PgLpbhXnStsjnS9c7" target="_blank">
          475 S 3rd St, Columbus, OH
        </a>
      </div>
      <p class="my-5 leading-7 tracking-wide opacity-90">
        The best deli in Columbus! Katzinger's is in German Village, so grab
        some lunch and explore one of our favorite neighborhoods in the city!
      </p>
      <div class="flex justify-center">
        <Button href="https://katzingers.com">Website</Button>
      </div>
    </div>

    <div class="px-5 pt-1 text-center">
      <h2
        class="my-7 text-2xl font-bold uppercase leading-normal tracking-lg sm:text-3.5xl"
      >
        COSI
      </h2>
      <Image src={cosi} aspectRatio="4:3" alt="" />
      <div class="my-4 space-y-2 leading-none tracking-sm sm:text-xl">
        <a href="https://goo.gl/maps/2DE1EAs1kuxb4ayU7" target="_blank">
          333 West Broad St. Columbus, OH
        </a>
      </div>
      <p class="my-5 leading-7 tracking-wide opacity-90">
        The Center of Science and Industry (COSI) is a science museum in
        downtown Columbus - great for kids!
      </p>
      <div class="flex justify-center">
        <Button href="https://cosi.org">Website</Button>
      </div>
    </div>

    <div class="px-5 pt-1 text-center">
      <h2
        class="my-7 text-2xl font-bold uppercase leading-normal tracking-lg sm:text-3.5xl"
      >
        North Market
      </h2>
      <Image src={northMarket} aspectRatio="4:3" alt="" />
      <div class="my-4 space-y-2 leading-none tracking-sm sm:text-xl">
        <a href="https://g.page/North-market-downtown" target="_blank">
          59 Spruce St, Columbus, OH
        </a>
      </div>
      <p class="my-5 leading-7 tracking-wide opacity-90">
        North Market is a large, covered open market. It's a great place to stop
        for a bite to eat! For our DC friends, think Union Market. Fun fact -
        Jeni opened up her first first ice cream shop in a booth at North
        Market!
      </p>
      <div class="flex justify-center">
        <Button href="https://northmarket.org">Website</Button>
      </div>
    </div>

    <div class="px-5 pt-1 text-center">
      <h2
        class="my-7 text-2xl font-bold uppercase leading-normal tracking-lg sm:text-3.5xl"
      >
        Granville, Ohio
      </h2>
      <Image src={granville} aspectRatio="4:3" alt="" />
      <div class="my-4 space-y-2 leading-none tracking-sm sm:text-xl">
        <a href="https://goo.gl/maps/jd4wgTCq85aEtRuR8" target="_blank">
          Granville, Ohio
        </a>
      </div>
      <p class="my-5 leading-7 tracking-wide opacity-90">
        If you have a car and you're down for a day trip, check out Kristen's
        hometown! Granville has lots of cute shops and restaurants. Green Velvet
        and Kussmaul Gallery are great shops, and Mai Chau/Three Tigers brewery,
        Whit's Frozen Custard, Alfie's, and Seek-No-Further Cidery are some fun
        options for food and drinks!
      </p>
      <div class="flex justify-center">
        <Button href="https://www.granville.oh.us">Website</Button>
      </div>
    </div>
  </div>
</Layout>
