---
import { Image } from '@astrojs/image/components';

import Button from '@components/Button.astro';

export interface Props {
  address?: string;
  alt: string;
  description?: string;
  image: ImageMetadata;
  phone?: string;
  title: string;
  website: string;
}

const { address, alt, description, image, phone, title, website } =
  Astro.props as Props;
---

<div class="px-5 pt-1 text-center">
  <h2
    class="my-7 text-2xl font-bold uppercase leading-normal tracking-lg sm:text-3.5xl"
  >
    {title}
  </h2>
  <Image src={image} aspectRatio="4:3" alt={alt} />
  {
    (address || phone) && (
      <div class="my-4 space-y-2 leading-none tracking-sm sm:text-xl">
        {address && <div>{address}</div>}
        {phone && <div>{phone}</div>}
      </div>
    )
  }
  {
    description && (
      <div class="my-8 leading-7 tracking-xs">
        <p>{description}</p>
      </div>
    )
  }
  <div class="my-5 flex justify-center">
    <Button href={website}>Website</Button>
  </div>
</div>
