---
import { Image } from '@astrojs/image/components';

import Button from '@components/Button.astro';

export interface Props {
  address?: string;
  alt: string;
  description?: string;
  image: ImageMetadata;
  phone?: string;
  title: string;
  website: string;
}

const { address, alt, description, image, phone, title, website } =
  Astro.props as Props;
---

<div class="px-5 pt-1 text-center">
  <h4
    class="uppercase font-bold my-7 text-2xl sm:text-3.5xl leading-none tracking-lg"
  >
    {title}
  </h4>
  <Image src={image} aspectRatio="4:3" alt={alt} />
  {
    (address || phone) && (
      <div class="my-4 space-y-2 leading-none sm:text-xl tracking-sm">
        {address && <div>{address}</div>}
        {phone && <div>{phone}</div>}
      </div>
    )
  }
  {
    description && (
      <div class="my-8 leading-7 tracking-xs">
        <p>{description}</p>
      </div>
    )
  }
  <div class="flex justify-center my-5">
    <Button href={website}>Website</Button>
  </div>
</div>
